button {
  font-size: 30px;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.3s
}

button:hover {
  background-color: #000;
  color: white
}

h1 {
  text-transform: uppercase;
}

p {
  font-size: 25px;
}